/* Default Light Mode Styles */
body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    text-align: center;
    margin-top: 100px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    width: 20px;
    margin-left: 10px;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

button.dark-mode {
    background-color: #f39c12;
}
